.login{
    background: linear-gradient(180deg, #010A09 0%, #010A09 100%);
    color: #f0e2be; 
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    width: 100%;
    padding-bottom: 30%;


}
.login-block{

    padding-bottom: 60px;
}

body {
    background: linear-gradient(180deg, #010A09 0%, #010A09 100%);
    color: #F9F2DF;
}



.title{
    font-family: Mermaid;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 48px;
    color: #F9F2DF;
    position: relative;
    left: 71px;
    top: 65px;
}

.logo-pic{
    width:200px;
    height:200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;    
    border-style: solid;  /* delete it*/
}


.paragraph-body{
    position: relative;
    top: 65px;
    font-family: Quicksand, Verdana, sans-serif;
    color: #F9F2DF;
    font-size: 15px;
    font-style: normal;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.username{
    text-align: left;
    margin-top: 70px;
    margin-right: 50px;
    margin-left: 50px;
    padding-left: 0px;
    padding-top: 20px;
}


/* Hello, MNT Meditech*/
.logo{

text-align: right;
font-family: Quicksand, Verdana, sans-serif;
font-style: normal;
font-weight: bold;
font-size: 13px;
line-height: 13px;
color: #F9F2DF;
position: relative;
right: 22px;

}

.btn-login{
    background-color: #F9F2DF;
    color: #010A09;
}

#submit_btn{
    text-align: center;
}