#euHabitnavbar{
    font-family: Quicksand, Verdana, sans-serif;
    font-size: 20px;
    font-weight: bold;
}
  
#signout{
    color: rgb(255, 96, 96);
}
  
.c{
    background-color: #eee3c4;
}

.d{
    background-color: #eee9da;
}

.Logo{
    padding: 0px;
    margin-right: 5px;
    margin-top: 0px;
}