#instruction1{
    text-align: center;
    font-size: 12px;
    color: #1c5744;
    border-style: solid;
    letter-spacing: 80%;
}

#screening-form{
    padding: 20px;
    font-size: 14px;
    letter-spacing: 80%;
}

/*questionnaire*/
#question_title{
    font-size: 14px;
    font-weight: bold;
    color: #1c5744;
}

.question_1{
    border: solid;
    width: 50%;
    text-align: right;
}

.question_2{
    border: solid;
    text-align: left;
    width: 50%;
}

@media (max-width: 500px) {
    .question_1{
        border: solid;
        padding-left: 25%;
    }
    
    .question_2{
        border: solid;
        padding-left: 5%;
    }
}

@media (max-width: 400px) {
    .question_1{
        border: solid;
        padding-left: 15%;
    }
    
    .question_2{
        border: solid;
        padding-left: 5%;
    }
}
#Nxtbutton2{
    align-items: center;
    position: relative;
    top: 2%;
    text-align: center;
}

/*yes-no buttoon*/
#yesbutton{
    width: 60px;
    background-color: #56b495;
    color: #ffffff;
    border: none;
}

#nobutton{
    width: 60px;
    background-color: #fc5241;
    color: #ffffff;
    border: none;
}

.left_side{
    text-align: right;
}

.right_side{
    text-align: left;
}


