body{
    background: linear-gradient(180deg, #010A09 0%, #010A09 100%);
    font-family: "Bai Jamjuree", Verdana, sans-serif;
}

#demographic-data{
    text-align: left;
    font-size: 30px;
    color:aliceblue;
    font-family: Quicksand, Verdana, sans-serif;
    margin-top: 30px;
    padding-top:10px;
    padding-left: 10px;
    padding-bottom: 50px;
    border-style: solid;
}

#instruction{
    text-align: center;
    font-size: 16px;
    color: aliceblue;
    border-style: solid;
}

#screening-form{
    padding: 20px;
    font-size: 14px;
}