.stretch_card{
    min-width: 7rem;
    max-width: 10rem;
    height: 10%;
    margin-left: 4px;
    margin-right: 1px;
    border-radius: 20px;
}

.stretch_button{
    border-style: none;
    background-color: black;
    padding: 0px;
    margin: 0px;
}

.card_text{
    background-color: #f3921c;
    color: #ffffff;
    font-weight: 500;
    font-size: 14px;
    padding-top: 10%;
    padding-bottom: 1%;
    border-radius: 5px;
}

/*text in offcanva*/
.offcanvatext{
    color: #000000;
    background-color: #56b495;
}

.offcanvatext_body{
    color: #414141;
    background-color: #f2efe4;
}

#firstline{
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

#secondline{
    margin: 0px;
    padding-top: 0px;
}

#secondline2{
    text-indent: 20px;
    margin: 0px;
    padding-top: 0px;
}
/* */

#Nxtbutton{
    align-items: center;
    position: relative;
    top: 2%;
    text-align: center;
}

#profile3{
    text-align: left;
    font-family: Quicksand, Verdana, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #1c5774;
    margin-top: 18px;
    margin-left: 0px;
      
}

#profile4{
    text-align: right;
    font-family: Bai Jamjuree, Verdana, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #1c5774; 
    margin-top: 18px; 
    margin-right: 0px; 
}

#neck_title{
    width: 70px;
    font-family: Bai Jamjuree, Verdana, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #1c5744; 
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 20px;
    margin-top: 18px; 
    border: solid;  
    border-radius: 30px;
    border-color: #1c5744;
    background-color: #dfdfdf;
}

#shoulder_title{
    width: 80px;
    font-family: Bai Jamjuree, Verdana, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #1c5774; 
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 20px;
    margin-top: 18px; 
    border: solid;  
    border-radius: 30px;
    border-color: #1c5744;
    background-color: #dfdfdf;
}

#photo_button{
    display: block;
    height: 130px;  
    width: 100px;
}

@media (max-width: 400px) {
    #profile3{
        text-align: left;
        font-family: Quicksand, Verdana, sans-serif;
        font-size: 16px;
        font-weight: bold;
        color: #1c5774;
        margin-top: 18px;
        margin-left: 0px;
          
    }
    
    #profile4{
        text-align: right;
        font-family: Bai Jamjuree, Verdana, sans-serif;
        font-size: 16px;
        font-weight: bold;
        color: #1c5774; 
        margin-top: 18px; 
        margin-right: 0px; 
    }
}
